<%- include('ek/header', {bot, user, path}) %>
<div class="container">
<style> h3 { color:#fff; } p { color:#fff; } </style>
	<div class="jumbotron">
		<div align="center">
      <h3 style="color:#fff">
        SnowBot List
      </h3>
		   <p style="font-size:15px; color:lightgrey">
        
      </p>
      <br>
          <h6>HAKKIMIZDA BİLGİ ALMAK İÇİN DİSCORD GELİNİZ<h6>
            <br>
         <br> <a href="https://discord.gg/Qhaaayz" class="btn btn-default" style="background-color:#99AAB5; color:#fff">DİSCORD</a>
      <a href="/botekle" class="btn btn-default" style="background-color:#99AAB5; color:#fff">BOT EKLE</a>
      <a href="/sertifika" class="btn btn-default" style="background-color:#99AAB5; color:#fff">SERTİFİKA</a>
</div>
  </div></div></div>
<% include ./ek/footer %>