<%- include('ek/header', {bot, user, path}) %>
<div class="container">
<style> h3 { color:#fff; } p { color:#fff; } </style>
	<div class="jumbotron">
		<div align="center">
      <h3 style="color:#fff">
        Hakkımızda
      </h3>
		   <p style="font-size:15px; color:lightgrey">
        Düzenlenecek.
      </p>
      <br>
      <a href="https://discord.gg/649v9aT" class="btn btn-default" style="background-color:#333; color:#fff">Discord Sunucusuna Katıl</a>
</div>
  </div></div></div>
<% include ./ek/footer %>