<%- include('ek/header', {bot, user, path}) %>
<div class="container">
<style> h3 { color:#fff; } p { color:#fff; } </style>
	<div class="jumbotron">
		<div align="center">
      <h3 style="color:#fff">
        Hakkımızda
      </h3>
		   <p style="font-size:15px; color:lightgrey">
        Merhaba! Ben Kaan#0001
        DiscordBotsTR sistemini yapma amacım Türkiye'deki Discord botlarının toplanacağı bir yandan da reklamlarının yapılacağı bir alan oluşturmaktır.
        Discord botunuz var ise sitemize ekleyerek ve Discord botu olan arkadaşlarınıza sitemizi tavsiye edip sitemize yönlendirerek hiç bir maddi durum olmadan ve bize hiç bir
        kazanç sağlamadan destek olabilirsiniz. Üstüne basarak söyler isem, gerçekten herhangi bir kazancımız olmuyor olmayacak. Her sistemi, projeyi insanların yararı adına
        yapıyorum ve yapacağım! 
      </p>
      <br>
      <a href="https://discord.gg/Zeyz3J3" class="btn btn-default" style="background-color:#333; color:#fff">Discord Sunucusuna Katıl</a>
</div>
  </div></div></div>
<% include ./ek/footer %>