<%- include('ek/header', {bot, user, path}) %>
<div class="container">
	<div class="jumbotron">
		<div align="center">
    <img src="https://i.postimg.cc/LXV4Ktc6/warning-png-1479077.png" >
      <h3 style="color:#fff">You've already voted for the bot <br>You can vote the bot every 12 hours. <br> <b><a style"text-decoration:none;" href="/">Return to Homepage</a></b> </h3>
    </div>
</div>
</div></div></div>
<% include ./ek/footer %>