<%- include('ek/header', {bot, user, path}) %>
<div class="container">
  
	 <div class="jumbotron">
		<div align="center">
			<img src="https://cdn.dribbble.com/users/26546/screenshots/3770577/fs-logo-with-outline-dribbble.gif" width="250px" height="250px" class="d-inline-block align-top rounded-circle" alt=""><br><br>
      <h3><b>SnowBots List</b></h3>
      <br>
    <br> <a href="https://discord.gg/5mjUNvb" class="btn btn-default" style="background-color:#000000; color:#fff">Support Server</a>
      <a href="/botekle" class="btn btn-default" style="background-color:#000000; color:#fff">Add Bot</a>
      <a href="/sertifika" class="btn btn-default" style="background-color:#000000; color:#fff">Certificate</a>
      <div class="container">
  
	

    </div>
    </div>
</script>
  
  
 
  
  
 
<% include ./ek/footer %>
  
  
  
  
  
 