<%- include('ek/header', {bot, user, path}) %>
<div class="container">
  
	 <div class="jumbotron">
		<div align="center">
			<img src="https://cdn.discordapp.com/avatars/<%=bot.user.id%>/<%=bot.user.avatar%>.png" width="180px" height="180px" class="d-inline-block align-top rounded-circle" alt=""><br><br>
      <h3><b>SnowBots</b></h3>
      <br>
    <br> <a href="https://discord.gg/5mjUNvb" class="btn btn-default" style="background-color:#99AAB5; color:#fff">Support Server</a>
      <a href="/botekle" class="btn btn-default" style="background-color:#99AAB5; color:#fff">Add Bot</a>
      <a href="/sertifika" class="btn btn-default" style="background-color:#99AAB5; color:#fff">Certificate</a>
      <div class="container">
  
	

    </div>
    </div>
</script>
  
  
 
  
  
 
<% include ./ek/footer %>
  
  
  
  
  
 