<%- include('ek/header', {bot, user, path}) %>
<div class="container">
  
	 <div class="jumbotron">
		<div align="center">
			<img src="https://cdn.discordapp.com/avatars/<%=bot.user.id%>/<%=bot.user.avatar%>.png" width="180px" height="180px" class="d-inline-block align-top rounded-circle" alt=""><br><br>
      <h3><b>DİSCORD BOT LİST</b></h3>
      <br>
    <br> <a href="https://discord.gg/Qhaaayz" class="btn btn-default" style="background-color:#99AAB5; color:#fff">DİSCORD</a>
      <a href="/botekle" class="btn btn-default" style="background-color:#99AAB5; color:#fff">BOT EKLE</a>
      <a href="/sertifika" class="btn btn-default" style="background-color:#99AAB5; color:#fff">SERTİFİKA</a>
      <div class="container">
  
	 <div class="jumbotron">
		<div align="center">
      <a href="http://www.dblhaklarkurallar.ga/" class="btn btn-default" style="background-color:#99AAB5; color:#fff">TELİF HAKLARI</a>
<br></p><br>

    </div>
    </div>
</script>
  
<% include ./ek/footer %>