<%- include('ek/header', {bot, user, path}) %>
<div class="container">
  
	 <div class="jumbotron">
		<div align="center">
			<img src="https://cdn.discordapp.com/avatars/<%=bot.user.id%>/<%=bot.user.avatar%>.png" width="180px" height="180px" class="d-inline-block align-top rounded-circle" alt=""><br><br>
      <h3><b>CUBE BOT LİST</b></h3>
      <br>
     <h3> <a href="/giris">GİRİŞ YAP</h3>
					<p style="font-size:15px; color:black"><br></p><br>

    </div>
    </div>

  
    
