<%- include('ek/header', {bot, user, path}) %>
<div class="container">
	<div class="jumbotron">
		<div align="center">
      <form method="POST">

      

      <input type="text" id="mesaj-2" name="mesaj-2" placeholder="SEBEBİNİ YAZINIZ">
   
        <button class="btn btn-danger" type="sumbit">RAPOR ET</button>
      </form>
    </div>
</div>
</div>
<% include ./ek/footer %>