<%- include('ek/header', {bot, user, path}) %>
<div class="container">
<style> h3 { color:#fff; } p { color:#fff; } </style>
	<div class="jumbotron">
		<div align="center">
		   <h3>SERTİFİKA NASIL ALINIR</h3>
		   <br>
      <h6>SERTİFİKA İÇİN DİSCORD GELİNİZ</h6>
      <
      <a href="https://discord.gg/kTzMvUt" class="btn btn-default" style="background-color:#333; color:#fff">DİSCORD</a>
</div>
  </div></div></div>
<% include ./ek/footer %>