<%- include('ek/header', {bot, user, path}) %>
<div class="container">
<style> h3 { color:#fff; } p { color:#fff; } </style>
	<div class="jumbotron">
		<div align="center">
		   <h3>SERTİFİKA NASIL ALINIR</h3>
		   <p><br><strong></strong><br>
		 <a style="color:red">1</a> İLK OLARAK DİSCORD SUNUCUMUZA GELMENİZ GEREKMEKTEDİR<br>
		 <a style="color:red">2</a> ARDINDAN BOT KOMUTLARINA !sertifika-iste YAZINIZ<br><br><strong>GELELİM SERTİFİKA NASIL ALACAĞINIZA</strong> <br>
    SERTİFİKA İÇİN İLK OLARAK 1 GÜN BEKLEMENİZ GEREKMEKTEDİR BOTUNUZ 1 GÜN BOYUNCA İNCELENMEYE ALINACAK VE BOTUNUZA BAKILACAKTIR EĞER GEREKLİ KOŞULLARA UYUYORSA SİZLERE SERTİFİKA VERECEĞİZ
		</p>
      <a href="https://discord.gg/kTzMvUt" class="btn btn-default" style="background-color:#333; color:#fff">DİSCORD</a>
</div>
  </div></div></div>
<% include ./ek/footer %>