<%- include('ek/header', {bot, user, path}) %>
<div class="container">
<style> h3 { color:#fff; } p { color:#fff; } </style>
	<div class="jumbotron">
		<div align="center">
		   <h3>Sertifika Nasıl Alınır?</h3>
		   <p>Merhaba! Öncelikle sertifika botunuzun ve sizin ek rütbe almasını sağlayacaktır. <br><strong>Peki, sertifika tam olarak ne kazandırır?</strong><br>
		 <a style="color:red">1.</a> Discord Sunucumuzda  botunuz Sertifikalı Bot rolü, siz Sertifikalı Geliştirici rolü alırsınız. <br>
		 <a style="color:red">2.</a> Sitemizde (burada) botunuzun profilinde Sertifikalı yazar ve botunuzun profilinde Sertifika ikonu yer alır. <br><br><strong>Ve gelelim Sertifikayı nasıl alacağınıza.</strong> <br>
		 Sertifika alabilmek için botunuzun 100 veya 100'den fazla sunucuda bulunması gerekmektedir. Eğer botunuz bu şartı karşılıyorsa yetkililerimiz botunuzda hata bulunup bulunmadığını dikkatle kontrol edecekler bir hata bulunmuyor ise botunuz 2 gün gözlem altında tutulacaktır. Bu süre içerisinde botunuz hiç çevrimdışı olmazsa/kapanmazsa sertifika alacaktır.
		</p>
</div>
  </div></div></div>
<% include ./ek/footer %>