<%- include('ek/header', {bot, user, path}) %>
<div class="container">
<style> h3 { color:#fff; } p { color:#fff; } </style>
	<div class="jumbotron">
		<div align="center">
		   <h3>HOW TO TAKE THE CERTIFICATE</h3>
		   <br>
      <h6>COME TO DISCORD FOR CERTIFICATE</h6>
      <br>
         <br> <a href="https://discord.gg/Qhaaayz" class="btn btn-default" style="background-color:#99AAB5; color:#fff">Support Server</a>
      <a href="/botekle" class="btn btn-default" style="background-color:#99AAB5; color:#fff">Add Bot</a>
</div>
  </div></div></div>
<% include ./ek/footer %>