<%- include('ek/header', {bot, user, path}) %>
<div class="container">
<style> h3 { color:#fff; } p { color:lightgrey; } </style>
	<div class="jumbotron">
		<div align="center">
     <img src='https://i.postimg.cc/t7JQLR4b/xir-sertifika100.png' width="90" height="90" border='0' alt='xir-sertifika100'/>
		   <h3 style="color:#7289DA">How to Get a Certificate?</h3>
		   <p style="color:lightgrey;font-size:15px;">It ensures that you and your certificate bot take part in our Discord server and our site. Certified boots appear on the homepage and specifically <b>Certificate</b> icon is given.
      <br><h5 style="color:#7289DA">Certificate Advantages</h5>
		 <p style="color:lightgrey;font-size:15px;">- On our Discord Server, you get your bot Certified Bot role, you get the Certified Developer role. </p>
		 <p style="color:lightgrey;font-size:15px;">- Our site has a Certified writer on your Bots profile and a Certificate icon on your Bots profile. </p>
      <br><h5 style="color:#7289DA">Certificate Requirements and Application</h5>
		 <p style="color:lightgrey;font-size:15px;">
    Sertifika alabilmek için botunuzun <b>100</b> or on more than 100 servers. If your bot meets this requirement, you can report it to one of our officials.
		</p>
    <br><h4 style="color:#7289DA">Authorities</h4>
<div class="row">
  <div class="cools">
    <div class="card">
      <div class="yetkilir" ><img src="https://cdn.discordapp.com/avatars/543858517832892442/a_3401753f62dfc223a9cff7e442e47e6c.gif?size=1024" alt="MeliL" style="width:100%" ></div>
      <div class="yetkili-s">
        <h2 style="color:red;">YounesTN</h2>
        <p class="title">Owner</p>
        <p>!-AK | YounesTN#0001</p>
        <p>Social Media</p>
         <a href="https://fb.com/MeliL0fficial" target="_blank">Facebook</a><br>
         <a href="https://instagram.com/melil.s" target="_blank">Instagram</a><br>
         <a href="https://youtube.com/c/MeliL" target="_blank">Youtube</a><br>
         <a href="https://twitch.tv/melil" target="_blank">Twitch</a>
<br>
<br>
         <p><a href="https://discord.gg/ReM3DnG" target="_blank" class="iletisim">Discord Server</a></p>
      </div>
    </div>
  </div>

<div class="cools">
    <div class="card">
      <div class="yetkilir" ><img src="https://cdn.discordapp.com/avatars/680886252517457925/0d08816708baef9e314ceefd61117ffd.png?size=1024" alt="Efe" style="width:100%"></div>
      <div class="yetkili-s">
        <h2 style="color:#ff0101;">Matrix</h2>
        <p class="title">Owner</p>
        <p>(t5a) 3Mo_Matrixᴼᴮ#0001</p>
        <p>Social Media</p>
         <a href="https://instagram.com/ardaefe21" target="_blank">Facebook</a><br>
        <a href="https://fb.com/MeliL0fficial" target="_blank">Instagram</a><br>
        <a href="https://fb.com/MeliL0fficial" target="_blank">YouTube</a><br>
        <a href="https://fb.com/MeliL0fficial" target="_blank">Twitch</a>
<br>
<br>
         <p><a href="https://discord.gg/ReM3DnG" target="_blank" class="iletisim">Discord Server</a></p>
      </div>
    </div>
  </div>



<a href="https://discord.gg/ReM3DnG" target="_blank"><img src="https://discordapp.com/api/guilds/611585446387908620/embed.png?style=banner3" alt=""></a>
  </div></div></div>
<style>
/* Three columns side by side */
.cools {
  margin: auto;
  width: 26%;
  margin-bottom: 12px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .cools {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.yetkili-s {
  padding: 0 16px;
}

/* Clear floats */
.yetkili-s::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.iletisim {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.iletisim:hover {
  background-color: #555;
  text-decoration:none;
}
h2 {
font-size:36px;
  }
a:hover {
color:white;
text-decoration:none;
  }
.yetkilir img:hover {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  }

</style>