<br>
<div class="footer" style="color:#fff; border-radius:4px">
	<div class="footer_container" style="color:#fff">
		<div id="kutu">
			
    <br><br><br><br><br><br><br><br><br><br>
    <h6 style="color:#fff">
      
    </h6>
	</div>
</div>